* {
    font-family: 'Rubik', sans-serif;
}

.card {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    display: inline-block;
    border: solid #ffffffff 3px;
    transition-property: border;
    transition-duration: 0.2s;
}

#selected {
    border: solid #ffffff66 3px;
}

.card:hover {
    border: solid #ffffffaa 3px;
}

#result1 {
    background-color: royalblue;
    width: 80px;
    height: 100px;
    border-radius: 5px;
    border-left: solid #bbbbbb 20px;
    border-right: solid royalblue 10px;
    text-align: center;
    color: #dddddd;
    font-weight: bolder;
    padding: 10px;
}

.notimportant {
    color: #f88;
}

.red {
    background-color: red;
}
.orange {
    background-color: orange;
}
.yellow {
    background-color: #ffd500;
}
.green {
    background-color: green;
}
.skyblue {
    background-color: skyblue;
}
.blue {
    background-color: royalblue;
}
.purple {
    background-color: purple;
}